
<table class="data-load"  border="0" cellspacing="0" cellpadding="0" >
<tbody class="float_left">
    <tr>
        <th width="100">部门：</th>
        <td>{getStoreName($store_id)}</td>
    </tr>
    <tr>
        <th width="100">所有表：</th>
        <td>
            {foreach $list as $k=>$v}
            <input type="checkbox" name="biao_type" value="{$v['biao_type_id']}" {if $v['bhas']} checked{/if}> {$v['biao_name']}  
            {/foreach}
        </td>
    </tr>
    <tr>
        <th colspan="2" height="50">
            <input type="submit" value="提交" class="input-submit">
            </th>
        </tr>
</tbody></table>

