<table class="data-load" border="0" cellspacing="0" cellpadding="0" data-min="1200">
    <tr>

        'order_id': '单据编号',
            'store_id': '订货部门',
            'use_name': '订货人',
            'order_date': '订货日期',
            'order_name': '订单类别',
            'statusTxt': '处理状态',
            'order_type': '订单类别',
            'bagname': '仓库',
            'vendorname': '供应商',
            'storename': '调入门店',
            'senddate': '发货日期',
            'send_user_name': '发货人',
            'recv_user_name': '收货人',
            'recvdate': '收货日期',
            'passdate': '审核日期',
            'pass_user_name': '审核人'


        {if $head['order_name']}<th width="90">订单类别</th>{/if}
        <th width="100">制单门店</th>
        <th width="150">单据编号</th>
        <th class="txtleft">订单接收方</th>
        <th width="100">处理状态</th>
        <th width="80">制单人</th>
        <th width="80">制单日期</th>
        <th width="60">操作</th>
    </tr>
    {foreach $list as $k=>$v}
        <tr>
            <td>{$v['order_name']}</td>
            <td>{getStoreName($v['store_id'])}</td>
            <td><a data-id="{$v['order_id']}">{$v['order_id']}</a></td>
            <td class="txtleft">{if $v['order_type']=='1'}{$v['bagname']}{elseif $v['order_type']=='2'}{$v['vendorname']}{elseif $v['order_type']=='3'}{$v['storename']}{/if}</td>
            <td>{$v['statusTxt']}</td>
            <td>{$v['user_name']}</td>
            <td>{$v['adddate']}</td>
            <td><a class="submit_order" data-id="{$v['order_id']}">详情</a></td>
        </tr>
    {/foreach}
    <tr class="showpage"><th colspan="8"></th></tr>
</table>
