
<table class="data-load"  border="0" cellspacing="0" cellpadding="0" ><thead>
    <tr>
        <th width="50">ID</th>
        <th class="txtleft">部门名称</th>
        <th width="100">操作</th>
    </tr>
</thead>
<tbody>
    {foreach $list as $id=>$info}
    <tr class="user_list">
        <th>{$info['id']}</th>
        <td class="txtleft"><a data-value="{$info['id']}" data-type="edit">{$info['department']}</a></td>
        <th><a data-value="{$info['id']}" data-type="edit">修改</a> <a data-value="{$info['id']}" data-type="del" data-loginid="{$info['loginid']}">删除</a></th>
    </tr>
    {/foreach}
</tbody></table>

