
<table class="data-load"  border="0" cellspacing="0" cellpadding="0" >
<tbody class="float_left" id="person_add">
    <tr>
        <th width="100">姓名：</th>
        <td><input type="text" name="true_name" class="input2" value="{$true_name}">&nbsp;&nbsp;<a data-type="sel_person" class="sel_person">选择人员</a></td>
    </tr>
    <tr>
        <th width="100">ID：</th>
        <td><input type="text" name="id" class="input2" value="{$id}">&nbsp;&nbsp;<a data-type="sel_person" class="sel_person">选择人员</a></td>
    </tr>
    <tr>
        <th width="100">用户名：</th>
        <td><input type="text" name="loginid" class="input2" value="{$loginid}"></td>
    </tr>
    <tr>
        <th width="100">所在部门：</th>
        <td id="old_department">{$department}</td>
    </tr>
    <tr>
        <th width="100">当前职位：</th>
        <td id="old_job">{$job}</td>
    </tr>

    <tr>
        <th width="100">转至部门：</th>
        <td>
            <select name="department" id="department">
                <option value="">请选择所在部门</option>
                {foreach $departments as $k=>$v}
                <option value="{$v['id']}" >{$v['department']}</option>
                {/foreach}
            </select>
        </td>
    </tr>
    <tr id="sel_store" style="display:none;">
        <th width="100">转至门店：</th>
        <td><select name="store_id" id="store_id">
            <option value="">请选择所在门店</option>
            {foreach $stores as $k=>$v}
            <option value="{$v['store_id']}" {if $store_id==$v['store_id']}selected{/if}>{$v['store_name']}</option>
            {/foreach}
            </select></td>
    </tr>
    <tr id="sel_chejian" style="display:none;">
        <th width="100">转至车间：</th>
        <td><select name="chejian_id" id="chejian_id">
            <option value="">请选择所在车间</option>
            {foreach $chejians as $k=>$v}
            <option value="{$v['chejian_id']}" {if $chejian_id==$v['chejian_id']}selected{/if}>{$v['chejian_name']}</option>
            {/foreach}
            </select></td>
    </tr>
    <tr id="sel_bag" style="display:none;">
        <th width="100">转至仓库：</th>
        <td><select name="bag_id" id="bag_id">
            <option value="">请选择所在仓库</option>
            {foreach $bags as $k=>$v}
            <option value="{$v['bag_id']}" {if $bag_id==$v['bag_id']}selected{/if}>{$v['bag_name']}</option>
            {/foreach}
            </select></td>
    </tr>
    <tr>
        <th width="100">转至职位：</th>
        <td><span id="position">
            等待获取职位信息</span>

        </td>
    </tr>


    <tr>
        <th width="100">操作日期：</th>
        <td><input type="text" name="begin_time" class="input2" value="{$begin_time}" onfocus="WdatePicker()"></td>
    </tr>
    <tr>
        <th colspan="2" height="50">
            <input type="submit" value="提交" class="input-submit">
            </th>
        </tr>
</tbody></table>

