<table class="data-load"  border="0" cellspacing="0" cellpadding="0" data-min="1200">
    <tbody>
        <tr>
            <th class="txtleft">更新数据</th>
            </tr>
        <tr>
            <td style="text-align:left;padding-left:10px;">
                最后生成日期：{$reportday}<br>
                最后可更新日期：{$newday} <br>
                <a class="city_submit" id="count">生成最新销售数据</a> 
            </td>
            </tr>
        <tr class="txtleft">
            <th>重计数据</th>
            </tr>
        <tr>
            <td style="text-align:left;padding-left:10px;">
                起始日期：<input type="text" name="startdate" onfocus="WdatePicker()" readonly>
                结束日期：<input type="text" name="enddate" onfocus="WdatePicker()" readonly><br>
                <a class="city_submit" id="recount">开始重计数据</a> 
                <span class="recount_status"></span>
            </td>
        </tr>
    </tbody>
</table>

