
<table class="data-load"  border="0" cellspacing="0" cellpadding="0" >
<tbody class="float_left">
    <tr>
        <th width="100">用户名：</th>
        <td><input type="text" name="loginid" id="loginid" class="input2" value="{$loginid}"></td>
    </tr>
    <tr>
        <th width="100">密码：</th>
        <td><input type="password" name="password" id="password" class="input2">{if $user_name}&nbsp;&nbsp;不修改密码请留空！{/if}</td>
    </tr>
    {if !$user_name}
    <tr>
        <th width="100">确认密码：</th>
        <td><input type="password" name="repassword" id="repassword" class="input2"></td>
    </tr>
    {/if}
    <tr>
        <th width="100">姓名：</th>
        <td><input type="text" name="user_name" id="user_name" class="input2" value="{$user_name}"></td>
    </tr>
    <tr>
        <th width="100">所属部门：</th>
        <td><select name="bumen" id="bumen">
            <option value="" }>请选择部门</option>
            <option value="运营部" {if $bumen=='运营部'}selected{/if}>运营部</option>
            <option value="人事部" {if $bumen=='人事部'}selected{/if}>人事部</option>
            <option value="开发部" {if $bumen=='开发部'}selected{/if}>开发部</option>
            <option value="工程部" {if $bumen=='工程部'}selected{/if}>工程部</option>
            <option value="加工中心" {if $bumen=='加工中心'}selected{/if}>加工中心</option>
            <option value="门店" {if $bumen=='门店'}selected{/if}>门店</option>
            <option value="仓库" {if $bumen=='仓库'}selected{/if}>仓库</option>
            <option value="财务部" {if $bumen=='财务部'}selected{/if}>财务部</option>
            </select></td>
    </tr>
    <tr id="sel_store" {if $bumen!='门店'}style="display:none;"{/if}>
        <th width="100">所在门店：</th>
        <td><select name="store_id" id="store_id">
            <option value="" }>请选择所在门店</option>
            {foreach $stores as $k=>$v}
            <option value="{$v['store_id']}" {if $store_id==$v['store_id']}selected{/if}>{$v['store_name']}</option>
            {/foreach}
            </select></td>
    </tr>
    <tr id="sel_chejian" {if $bumen!='加工中心'}style="display:none;"{/if}>
        <th width="100">所在车间：</th>
        <td><select name="chejian_id" id="chejian_id">
            <option value="" }>请选择所在车间</option>
            {foreach $chejians as $k=>$v}
            <option value="{$v['chejian_id']}" {if $chejian_id==$v['chejian_id']}selected{/if}>{$v['chejian_name']}</option>
            {/foreach}
            </select></td>
    </tr>
    <tr id="sel_bag" {if $bumen!='仓库'}style="display:none;"{/if}>
        <th width="100">所在仓库：</th>
        <td><select name="bag_id" id="bag_id">
            <option value="" }>请选择所在仓库</option>
            {foreach $bags as $k=>$v}
            <option value="{$v['bag_id']}" {if $bag_id==$v['bag_id']}selected{/if}>{$v['bag_name']}</option>
            {/foreach}
            </select></td>
    </tr>
    <tr>
        <th width="100">用户组：</th>
        <td><select name="level_name" id="level_name">
            <option value="" }>请选择用户组</option>
            {foreach $levels as $k=>$v}
            <option value="{$v['level_name']}" {if $level_name==$v['level_name']}selected{/if}>{$v['level_name']}</option>
            {/foreach}
            </select> &nbsp;&nbsp;&nbsp;&nbsp;用户将拥有用户组对应的权限。</td>
    </tr>
    <tr>
        <th colspan="2" height="50">
            <input type="submit" value="提交" class="input-submit">
            </th>
        </tr>
</tbody></table>

