
<table class="data-load"  border="0" cellspacing="0" cellpadding="0" >
<tbody class="float_left">
    <tr>
        <th width="100">车间ID：</th>
        <td><input type="text" name="chejian_id" id="chejian_id" class="input2" value="{$chejian_id}"></td>
    </tr>
    <tr>
        <th width="100">车间名称：</th>
        <td><input type="text" name="chejian_name" id="chejian_name" class="input2" value="{$chejian_name}"></td>
    </tr>
    <tr>
        <th colspan="2" height="50">
            <input type="submit" value="提交" class="input-submit">
            </th>
        </tr>
</tbody></table>

