<table class="data-load" border="0" cellspacing="0" cellpadding="0" data-min="1200">
    <tr>
        <th colspan="10" height="50" class="txtleft">
            <input type="submit" value="确认提交" class="city_submit">
        </th>
    </tr>
    <tr>
        <th colspan="10" class="txtleft">
            盘点日期：{$adddate}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            盘点部门：{getStoreName($current_store_id)}
            </th>
    </tr>
    <tr>
        <th width="100">分类</th>
        <th width="100">编码</th>
        <th class="txtleft">名称</th>
        <th width="120">规格</th>
        <th width="80">盘点数量</th>
        <th width="70">库存单位</th>
    </tr>
    {foreach $list as $k=>$v}
        <tr>
            {if $v['goods_rowspan']==0}<th rowspan="{$type[$v['goods_type']]['total']}">{$v['goods_type']}</th>{/if}
            <td>{$v['cInvCode']}</td>
            
            <td class="txtleft">{$v['cInvName']}</td>
            
            
            <td>{if($v['cInvStd'])}{$v['cInvStd']}{/if}</td>
            
            <td>{$v['order_nums']}</td>
            <td>{$v['cInvUnit']}</td>
        </tr>
    {/foreach}
    <tr>
        <th colspan="10" height="50" class="txtleft">
            <input type="submit" value="确认提交" class="city_submit">
        </th>
    </tr>
</table>
