



<table class="data-load"  border="0" cellspacing="0" cellpadding="0" >
    <tr>
        <th colspan="7">{$year}年{$month}</th>
    </tr>
    <tr>
        {for $i=0 to 6}
        <th>{$arr_days[$i]['week']}</th>
        {/for}
    </tr>
    {foreach $arr_days as $key=>$value}
        {if $key % 7==0}<tr>{/if}
        <td {if $list[$key+1]}style="background:{$color}"{/if} data-value="{$value['day']}" class="selection_day">{$value['day']}</td>
        {if ($key+1) % 7 ==0} </tr>{/if}
    {/foreach}
    <tr>
        <th colspan="7">
            <div style="background:{$color};width:20px;height:10px;display:inline-block;"></div> 表示该日期有存在数据。可直接点击日期修改/添加当日数据。
        </th>
    </tr>
    <tr>
        <th colspan="7" style="font-weight:bold;" class="txtleft">录入信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;选择日期：<input type="text" name="date" class="input2" onfocus="WdatePicker()" value="{$startdate}" readonly></th>
    </tr>
    <tr>
        <th colspan="7">
            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                <tr>
                    <th width="160">项目名称</th>
                    <th class="txtleft">录入数值</th>
                </tr>
                 <tr>
                    <th>会展收入</th>
                    <td class="txtleft"><input type="text" class="input4" name="huizhan" value="{$current['ch_huizhan']}"></td>
                </tr>
                
                <tr>
                    <th colspan="2" height="50">
                        <input type="submit" value="提交" class="input-submit">
                    </th>
                </tr>
            </table>
        </th>
    </tr>
</table>