<table class="data-load" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th colspan="4"><b>本期损益</b></th>
            <th colspan="5"><b>产品毛利</b></th>
            <th colspan="4"><b>营业费用</b></th>
        </tr>
        <tr>
            <th width="{100/13}%">分类</th>
            <th width="{100/13}%">项目</th>
            <th width="{100/13}%">本期</th>
            <th width="{100/13}%">收入占比</th>
            <th width="{100/13}%">分类</th>
            <th width="{100/13}%">项目</th>
            <th width="{100/13}%">本期</th>
            <th width="{100/13}%">毛利</th>
            <th width="{100/13}%">毛利率</th>
            <th width="{100/13}%">分类</th>
            <th width="{100/13}%">项目</th>
            <th width="{100/13}%">本期</th>
            <th width="{100/13}%">消费比</th>
        </tr>
        <tr>
            <th rowspan="5">收入</th>
            <th>早餐收入</th>
            <td>{$list['zaocan']}</td>
            <td>{$list['zaocanzhanbi']}%</td>
            <th colspan="2">综合毛利</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <th rowspan="5">人力成本</th>
            <th>工资</th>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th>早班收入</th>
            <td>{$list['wucan']}</td>
            <td>{$list['wucanzhanbi']}%</td>
            <th rowspan="4">按品种</th>
            <th>早餐</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <th>奖金</th>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th>晚班收入</th>
            <td>{$list['wancan']}</td>
            <td>{$list['wancanzhanbi']}%</td>
            <th>饭品</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <th>制服费</th>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th>外送收入</th>
            <td>{$list['waisong']}</td>
            <td>{$list['waisongzhanbi']}%</td>
            <th>副品</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <th>其他福利费</th>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th>合计</th>
            <td>{$list['total']}</td>
            <td>--</td>
            <th>饮品</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <th>小计</th>
            <td> </td>
            <td> </td>
        </tr>

        <tr>
            <th rowspan="7">成本</th>
            <th>主要成本</th>
            <td> </td>
            <td> </td>


            <th rowspan="10">按单品</th>
            <td>宫保鸡丁</td>
            <td> </td>
            <td> </td>
            <td> </td>

            <th rowspan="8">物料消耗品</th>
            <th>物料用品</th>
            <td> </td>

        </tr>
        <tr>
            <th>产品报损</th>
            <td> </td>
            <td> </td>

            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>

            <th>低值易耗品</th>
            <td> </td>
            <td> </td>
        </tr>

        <tr>
            <th>促销赠送</th>
            <td> </td>
            <td> </td>

            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>

            <th>管理工具</th>
            <td> </td>
            <td> </td>
        </tr>


        <tr>
            <th>外联赠送</th>
            <td> </td>
            <td> </td>

            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <th>其他</th>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th>管理报损</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <th>低值易耗品</th>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th>员工餐</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <th>管理工具</th>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th>合计</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <th>其他</th>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th colspan="2">税金</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <th>小计</th>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th rowspan="5">费用</th>
            <th>营业费用</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <th colspan="2">燃料费</th>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th>办公费</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <th colspan="2">维修费</th>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th>固定费用</th>
            <td> </td>
            <td> </td>
            <th colspan="5"><b>新品与促销</b></th>
            <th colspan="2">水电费</th>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th>投资费用</th>
            <td> </td>
            <td> </td>
            <th>项目</th>
            <th>本期碗数</th>
            <th>碗数占比</th>
            <th>本期毛利</th>
            <th>毛利占比</th>
            <th colspan="2">广告宣传费</th>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th>合计</th>
            <td> </td>
            <td> </td>
            <th rowspan="4">新品</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <th colspan="2">清洁卫生费</th>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th colspan="2">营业外收入</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <th colspan="2">维修增项费</th>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th colspan="2">营业外支出</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <th colspan="2">其他费用</th>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th colspan="2">本期利润</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <th colspan="2">政府费用</th>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th colspan="2">所得税</th>
            <td> </td>
            <td> </td>
            <th rowspan="2">促销</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <th colspan="2">分摊配送费用</th>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th colspan="2">营业利润</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <th colspan="2">合计</th>
            <td> </td>
            <td> </td>
        </tr>
    </tbody>
</table>