<!--特殊店-->
<table class="data-load" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th width="{100/15}%">分类</th>
            <th width="{100/15}%">项目</th>
            <th width="{100/15}%">店名</th>
            <th width="{100/15}%">门店数量</th>
            <th width="{100/15}%">碗数</th>
            <th width="{100/15}%">客单价</th>
            <th width="{100/15}%">工时收入</th>
            <th width="{100/15}%">日均销售收入</th>
            <th width="{100/15}%">人力成本占比</th>
            <th width="{100/15}%">营业成本占比</th>
            <th width="{100/15}%">营业费用占比</th>
            <th width="{100/15}%">营业利润</th>
            <th width="{100/15}%">营业利润率</th>
            <th width="{100/15}%">占公司整体利润占比</th>
        </tr>
        {foreach $list['wenti'] as $i=>$info}
        <tr>
            {if $i==0}
            <th rowspan="{$list['mofan']['length'] + $list['wenti']['length']}">经营情况</th>{/if}
            {if $i==0}
            <th rowspan="{$list['wenti']['length']}">问题店</th>{/if}
            <td>{$info['store_name']}</td>
            {if $i==0}
            <td rowspan="{$list['wenti']['length']}">{$list['wenti']['length']}</td>{/if}
            <td>{$info['keliuliang']}</td>
            <td>{$info['kedanjia']}</td>
            <td>{$info['gongshishouru']}</td>
            <td>{$info['rijun']}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {/foreach}
        {foreach $list['mofan'] as $i=>$info}
        <tr>
            {if $i==0}
            <th rowspan="{$list['mofan']['length']}">模范店</th>{/if}
            <td>{$info['store_name']}</td>
            {if $i==0}
            <td rowspan="{$list['mofan']['length']}">{$list['mofan']['length']}</td>{/if}
            <td>{$info['keliuliang']}</td>
            <td>{$info['kedanjia']}</td>
            <td>{$info['gongshishouru']}</td>
            <td>{$info['rijun']}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {/foreach}
        {foreach $list['xinzeng'] as $i=>$info}
        <tr>
            {if $i==0}
            <th rowspan="{$list['xinzeng']['length'] + $list['tongqi']['length']}">开业时间</th>{/if}
            {if $i==0}
            <th rowspan="{$list['xinzeng']['length']}">年度新增</th>{/if}
            <td>{$info['store_name']}</td>
            {if $i==0}
            <td rowspan="{$list['xinzeng']['length']}">{$list['xinzeng']['length']}</td>{/if}
            <td>{$info['keliuliang']}</td>
            <td>{$info['kedanjia']}</td>
            <td>{$info['gongshishouru']}</td>
            <td>{$info['rijun']}</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        {/foreach}
        {foreach $list['tongqi'] as $i=>$info}
        <tr>
            {if $i==0}
            <th rowspan="{$list['tongqi']['length']}">同期同店</th>{/if}
            <td>{$info['store_name']}</td>
            {if $i==0}
            <td rowspan="{$list['tongqi']['length']}">{$list['tongqi']['length']}</td>{/if}
            <td>{$info['keliuliang']}</td>
            <td>{$info['kedanjia']}</td>
            <td>{$info['gongshishouru']}</td>
            <td>{$info['rijun']}</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        {/foreach}
        {foreach $list['shangye'] as $i=>$info}
        <tr>
            {if $i==0}
            <th rowspan="{$list['shangye']['length']+$list['shangwu']['length']+$list['shequ']['length']+$list['hunhe']['length']}">市场分类</th>{/if}
            {if $i==0}
            <th rowspan="{$list['shangye']['length']}">商业店</th>{/if}
            <td>{$info['store_name']}</td>
            {if $i==0}
            <td rowspan="{$list['shangye']['length']}">{$list['shangye']['length']}</td>{/if}
            <td>{$info['keliuliang']}</td>
            <td>{$info['kedanjia']}</td>
            <td>{$info['gongshishouru']}</td>
            <td>{$info['rijun']}</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        {/foreach}
        {foreach $list['shangwu'] as $i=>$info}
        <tr>
            {if $i==0}
            <th rowspan="{$list['shangwu']['length']}">商务店</th>{/if}
            <td>{$info['store_name']}</td>
            {if $i==0}
            <td rowspan="{$list['shangwu']['length']}">{$list['shangwu']['length']}</td>{/if}
            <td>{$info['keliuliang']}</td>
            <td>{$info['kedanjia']}</td>
            <td>{$info['gongshishouru']}</td>
            <td>{$info['rijun']}</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        {/foreach}
        {foreach $list['shequ'] as $i=>$info}
        <tr>
            {if $i==0}
            <th rowspan="{$list['shequ']['length']}">社区店</th>{/if}
            <td>{$info['store_name']}</td>
            {if $i==0}
            <td rowspan="{$list['shequ']['length']}">{$list['shequ']['length']}</td>{/if}
            <td>{$info['keliuliang']}</td>
            <td>{$info['kedanjia']}</td>
            <td>{$info['gongshishouru']}</td>
            <td>{$info['rijun']}</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        {/foreach}
        {foreach $list['hunhe'] as $i=>$info}
        <tr>
            {if $i==0}
            <th rowspan="{$list['hunhe']['length']}">混合店</th>{/if}
            <td>{$info['store_name']}</td>
            {if $i==0}
            <td rowspan="{$list['hunhe']['length']}">{$list['hunhe']['length']}</td>{/if}
            <td>{$info['keliuliang']}</td>
            <td>{$info['kedanjia']}</td>
            <td>{$info['gongshishouru']}</td>
            <td>{$info['rijun']}</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        {/foreach}
    </tbody>
</table>

<!--/特殊店-->
