
<table class="data-load"  border="0" cellspacing="0" cellpadding="0" ><thead>
    <tr>
        <th colspan="2" width="20%">分店名称<a class="ico {if $sortBy=='ch_branchno'}{if $sortStatus==1}ico_up{else}ico_down{/if}{else}ico_default{/if}" data-type="ch_branchno"></a></th>
        <th width="{80/5}%">促销收入<a class="ico {if $sortBy=='total'}{if $sortStatus==1}ico_up{else}ico_down{/if}{else}ico_default{/if}" data-type="total"></a></th>
        <th width="{80/5}%">套餐销售<a class="ico {if $sortBy=='taocan'}{if $sortStatus==1}ico_up{else}ico_down{/if}{else}ico_default{/if}" data-type="taocan"></a></th>
        <th width="{80/5}%">连锁活动<a class="ico {if $sortBy=='wucan'}{if $sortStatus==1}ico_up{else}ico_down{/if}{else}ico_default{/if}" data-type="wucan"></a></th>
        <th width="{80/5}%">常规优惠<a class="ico {if $sortBy=='changgui'}{if $sortStatus==1}ico_up{else}ico_down{/if}{else}ico_default{/if}" data-type="changgui"></a></th>
        <th width="{80/5}%">团购<a class="ico {if $sortBy=='tuangou'}{if $sortStatus==1}ico_up{else}ico_down{/if}{else}ico_default{/if}" data-type="tuangou"></a></th>
    </tr>
</thead>
<tbody>
    {foreach $list as $id=>$info}
    <tr>
        <th rowspan="2" width="10%">{if $info['istotal']}合计{else}{getStoreName($info['ch_branchno'])}{/if}</th>
        <th width="10%">本期</th>
        <td>{$info['cuxiao']}</td>
        <td>{$info['cuxiao_taocan']}</td>
        <td>{$info['cuxiao_wucan']}</td>
        <td>{$info['cuxiao_changgui']}</td>
        <td>{$info['cuxiao_tuangou']}</td>
    </tr>
    <tr>
        <th>占比</th>
        <td>{$info['cuxiao_percent']}</td>
        <td>{$info['cuxiao_taocan_percent']}</td>
        <td>{$info['cuxiao_wucan_percent']}</td>
        <td>{$info['cuxiao_changgui_percent']}</td>
        <td>{$info['cuxiao_tuangou_percent']}</td>
    </tr>
    {/foreach}
</tbody></table>

