
<table class="data-load"  border="0" cellspacing="0" cellpadding="0" ><thead>
    <tr>
        <th colspan="2">日期<a class="ico {if $sortBy=='months'}{if $sortStatus==1}ico_up{else}ico_down{/if}{else}ico_default{/if}" data-type="months"></a></th>
        <th width="{80/7}%">销售额<a class="ico {if $sortBy=='total'}{if $sortStatus==1}ico_up{else}ico_down{/if}{else}ico_default{/if}" data-type="total"></a></th>
        <th width="{80/7}%">早餐<a class="ico {if $sortBy=='zaocan'}{if $sortStatus==1}ico_up{else}ico_down{/if}{else}ico_default{/if}" data-type="zaocan"></a></th>
        <th width="{80/7}%">早班<a class="ico {if $sortBy=='wucan'}{if $sortStatus==1}ico_up{else}ico_down{/if}{else}ico_default{/if}" data-type="wucan"></a></th>
        <th width="{80/7}%">晚班<a class="ico {if $sortBy=='wancan'}{if $sortStatus==1}ico_up{else}ico_down{/if}{else}ico_default{/if}" data-type="wancan"></a></th>
        <th width="{80/7}%">外送销售额<a class="ico {if $sortBy=='waisong'}{if $sortStatus==1}ico_up{else}ico_down{/if}{else}ico_default{/if}" data-type="waisong"></a></th>
        <th width="{80/7}%">套餐销售额<a class="ico {if $sortBy=='taocan'}{if $sortStatus==1}ico_up{else}ico_down{/if}{else}ico_default{/if}" data-type="taocan"></a></th>
        <th width="{80/7}%">促销销售额<a class="ico {if $sortBy=='cuxiao'}{if $sortStatus==1}ico_up{else}ico_down{/if}{else}ico_default{/if}" data-type="cuxiao"></a></th>
    </tr>
</thead>
<tbody>
    {foreach $list as $id=>$info}
    <tr>
        <th width="6%">{$info['month']}</th>
        <th width="14%">{$info['fest']} </th>
        <td>{$info['total']}</td>
        <td>{$info['zaocan']}</td>
        <td>{$info['wucan']}</td>
        <td>{$info['wancan']}</td>
        <td>{$info['waisong']}</td>
        <td>{$info['taocan']}</td>
        <td>{$info['cuxiao']}</td>
    </tr>
    {/foreach}
</tbody></table>

